<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>クーポン詳細</title>
  <link rel="stylesheet" href="../assets/css/pages/coupon_detail.css">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap" rel="stylesheet">
  <script src="../assets/js/pages/coupon_detail.js"></script>

</head>
<body>
  <header class="c-header">
    <button class="c-header__btn">戻る</button>
    <h1 class="c-header__text">クーポン詳細</h1>
  </header>

  <!-- slider コンポーネント -->
  <div class="l-main">
    <div class="p-label">このクーポンは追加済みです</div>
  </div>
    <div class="c-slider swiper-container">
      <div class="swiper-wrapper">
        <div class="c-slider__slide swiper-slide">
          <div class="c-card__labelContainer p-label__abs">
            <div class="c-card__label c-card__label--red">
              <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
              <span class="c-card__text">あと１日</span>
            </div>
            <div class="c-card__label c-card__label--yellow">
              <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
              <span class="c-card__text">売り切れ間近</span>
            </div>
          </div>
          <img class='c-card__image c-slider__image' src='https://placehold.jp/ff7f50/350x350.png'/>
        </div>
        <div class="c-slider__slide swiper-slide">
          <div class="c-card__labelContainer p-label__abs">
            <div class="c-card__label c-card__label--red">
              <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
              <span class="c-card__text">あと２日</span>
            </div>
            <div class="c-card__label c-card__label--yellow">
              <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
              <span class="c-card__text">売り切れ間近</span>
            </div>
          </div>
          <img class='c-card__image c-slider__image' src='https://placehold.jp/4169e1/350x350.png'/>
        </div>
        <div class="c-slider__slide swiper-slide">
          <div class="c-card__labelContainer p-label__abs">
            <div class="c-card__label c-card__label--red">
              <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
              <span class="c-card__text">あと３日</span>
            </div>
            <div class="c-card__label c-card__label--yellow">
              <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
              <span class="c-card__text">売り切れ間近</span>
            </div>
          </div>
          <img class='c-card__image c-slider__image' src='https://placehold.jp/ff7f50/350x350.png'/>
        </div>
        <div class="c-slider__slide swiper-slide">
          <div class="c-card__labelContainer p-label__abs">
            <div class="c-card__label c-card__label--red">
              <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
              <span class="c-card__text">あと４日</span>
            </div>
            <div class="c-card__label c-card__label--yellow">
              <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
              <span class="c-card__text">売り切れ間近</span>
            </div>
          </div>
          <img class='c-card__image c-slider__image' src='https://placehold.jp/4169e1/350x350.png'/>
        </div>
        <div class="c-slider__slide swiper-slide">
          <div class="c-card__labelContainer p-label__abs">
            <div class="c-card__label c-card__label--red">
              <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
              <span class="c-card__text">あと５日</span>
            </div>
            <div class="c-card__label c-card__label--yellow">
              <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
              <span class="c-card__text">売り切れ間近</span>
            </div>
          </div>
          <img class='c-card__image c-slider__image' src='https://placehold.jp/ff7f50/350x350.png'/>
        </div>
      </div>
      <div class="c-slider__pagination"></div>
      <div class="c-slider__btnContainer">
        <button class="c-slider__prevBtn"></button>
        <button class="c-slider__nextBtn"></button>
      </div>
    </div>
    <div class="l-main">
      <button class="c-slider__delBtn">✕クーポンを削除</button>
    </div>

  <!-- メニュー -->
  <div class="l-main--gray">
    <div class="p-box">
      <div class="c-modal__text">人気の商品も今すぐ購入！</div>
      <div class="c-modal__btn">公式オンラインショップで購入</div>
      <div class="c-modal__btn">店舗で取置する</div>
      <div class="c-modal__btn">Amazonで購入</div>
      <div class="c-modal__btn">楽天で購入</div>
    </div>
  </div>

  <!-- クーポン一覧 -->
  <div id='main' class="l-main">
    <div class="c-topic u-mb-8">
      <span class="c-topic__mainText">クーポンは使うほどお得です</span><br/>
      <span class="c-topic__subText">激安クーポンを同時利用しましょう</span>
    </div>

    <div class='u-mb-20'>
      <div class="u-mb-16">
        <div class="c-card__labelContainer">
          <div class="c-card__label c-card__label--red">
            <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
            <span class="c-card__text">あと１日</span>
          </div>
          <div class="c-card__label c-card__label--yellow">
            <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
            <span class="c-card__text">売り切れ間近</span>
          </div>
        </div>
        <div class="c-card__main">
          <img class='c-card__image' src='https://placehold.jp/350x350.png'/>
          <button data-modal-id='modal-1' class="c-card__btn">お気に入りに追加</button>
        </div>
      </div>
    </div>

    <div class='u-mb-20'>
      <div class="u-mb-16">
        <div class="c-card__labelContainer">
          <div class="c-card__label c-card__label--red">
            <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
            <span class="c-card__text">あと１日</span>
          </div>
          <div class="c-card__label c-card__label--yellow">
            <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
            <span class="c-card__text">売り切れ間近</span>
          </div>
        </div>
        <div class="c-card__main">
          <img class='c-card__image' src='https://placehold.jp/350x350.png'/>
          <button data-modal-id='modal-2' class="c-card__btn">お気に入りに追加</button>
        </div>
      </div>
    </div>

    <div id='cards'>
      <!-- ここにカードコンポーネントが展開されます -->
      <div class='u-mb-20'>
        <div class="u-mb-16">
          <div class="c-card__labelContainer">
            <div class="c-card__label c-card__label--red">
              <img src="../assets/image/icon_timer.png" class="c-card__labelIcon">
              <span class="c-card__text">あと１日</span>
            </div>
            <div class="c-card__label c-card__label--yellow">
              <img src="../assets/image/icon_triangle.png" class="c-card__labelIcon">
              <span class="c-card__text">売り切れ間近</span>
            </div>
          </div>
          <div class="c-card__main">
            <img class='c-card__image' src='https://placehold.jp/350x350.png'/>
            <button class="c-card__btn">お気に入りに追加</button>
          </div>
        </div>
      </div>
    </div>

    <div class="c-counter">
      <div class="c-counter__num">
        <span class="u-fs-30">3</span><span>枚</span>
      </div>
      <div class="c-counter__text">
        <span>お気に入り</span>
      </div>
    </div>

    <!-- リンクバナー -->
    <div class="c-linkArea c-linkArea--green c-linkArea--flex u-mb-24">
      <div>
        <div class="c-linkArea__title">激安商品ランキング</div>
        <div class="c-linkArea__label c-linkArea__label--green">お買い得クーポンを見る</div>
      </div>
      <div class="c-linkArea__icon">
        <img src="../assets/image/cheap_ranking.png" class="c-linkArea__img"/>
      </div>
    </div>
    <div class="c-linkArea c-linkArea--orange c-linkArea--flex u-mb-24">
      <div>
        <div class="c-linkArea__title">人気ランキング</div>
        <div class="c-linkArea__label c-linkArea__label--orange">人気のクーポンを見る</div>
      </div>
      <div class="c-linkArea__icon">
        <img src="../assets/image/popular_ranking.png" class="c-linkArea__img"/>
      </div>
    </div>
    <div class="c-linkArea c-linkArea--red c-linkArea--flex u-mb-24">
      <div>
        <div class="c-linkArea__title">終了間近</div>
        <div class="c-linkArea__label c-linkArea__label--red">締切間近のクーポンを見る</div>
      </div>
      <div class="c-linkArea__icon">
        <img src="../assets/image/end_coupon.png" class="c-linkArea__img"/>
      </div>
    </div>
    <div class="c-linkArea--flex">
      <div class="c-linkArea__text">全てのクーポンを見る</div>
      <img src="../assets/image/arrow_blue.png" />
    </div>
  </div>

  <!-- モーダルのhtmlを記述 -->
  <div class="c-modals">
    <div id='modal-1' class="c-modal">
      <button class="c-modal__closeBtn">✕</button>
      <div class="c-modal__topic">
        <span class="c-modal__mainText">オンラインで購入</span>
      </div>
      <img class="c-modal__image" src="http://placehold.jp/253x230.png"/>
      <div class="c-modal__text">店舗で受取る</div>
      <div class="c-modal__btn">店舗で取置する</div>
      <div class="c-modal__text">ウェブで購入</div>
      <div class="c-modal__btn">公式オンラインショップで購入</div>
      <div class="c-modal__btn">Amazonで購入</div>
      <div class="c-modal__btn">楽天で購入</div>
    </div>

    <!-- モーダルのhtmlを記述 終了間際version-->
    <div id='modal-2' class="c-modal">
      <button class="c-modal__closeBtn">✕</button>
      <div class="c-modal__alert">
        <span class="c-modal__mainText">終了間際の商品です！！</span>
      </div>
      <p class="c-model__par">
        いまお気に入りに追加したクーポンは<br/>
        終了日が間際の商品です。<br/>
        店舗で取置、または<br/>
        ウェブでの購入がおすすめです
      </p>
      <img class="c-modal__image--sm" src="http://placehold.jp/161x147.png"/>
      <div class="c-modal__text">店舗で受取る</div>
      <div class="c-modal__btn">店舗で取置する</div>
      <div class="c-modal__text">ウェブで購入</div>
      <div class="c-modal__btn">公式オンラインショップで購入</div>
      <div class="c-modal__btn">Amazonで購入</div>
      <div class="c-modal__btn">楽天で購入</div>
    </div>
  </div>

  <footer class="c-footer u-mb-65">
    <div class="c-footer__line"></div>
    <img src="../assets/image/footer.png" class="c-footer__img"/>
    <div class="c-footer__text">
      オンラインショップなら今すぐ購入できます
    </div>
    <div class="c-footer__label">
      公式オンラインショップ
    </div>
  </footer>

</body>
</html>